{% extends "modelo.html" %}

{% block title %}Chatbot PJP{% endblock %}


{% block content %}
<div class="container py-4">
    <div class="text-white">
        <h1 class="text-center text-white mb-4">Chatbot</h1>

        <div class="row justify-content-center py-2 text-white" style="min-height: 75vh;">

            <div class="col-12 col-md-10 col-lg-10">

                <!-- Área de Resposta -->
                <div class="border border-secondary-subtle rounded overflow-auto p-3" style="height: 60vh;"
                    id="resposta">
                    Olá, sou o chatbot auxiliar do Programa Jovem Programador...
                </div>

                <!-- Campo de Pergunta -->
                <div class="pt-3">
                    <div class="input-group">
                        <input type="text" class="form-control bg-white text-white" id="pergunta"
                            placeholder="Digite sua pergunta..." style="--bs-bg-opacity: .6;">
                        <button class="btn btn-primary border-white" onclick="enviarPergunta()">Perguntar</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


<script>
    async function enviarPergunta() {
        const pergunta = document.getElementById("pergunta").value;
        const respostaDiv = document.getElementById("resposta");
        respostaDiv.textContent = "Carregando resposta...";

        try {
            const response = await fetch("/pergunta/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ pergunta: pergunta })
            });

            const data = await response.json();
            respostaDiv.textContent = data.resposta || data.erro;
        } catch (error) {
            respostaDiv.textContent = "Erro ao enviar pergunta: " + error;
        }
    }
</script>
{% endblock %}